nav{
    font-family: Roboto, sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 20px 0;
    border-bottom: 2px solid #f1f1f1;
}


/* 1.67+30+1.67+1.67+30+1.67+1.67+30+1.67 = 100%*/

img{
    width: 30%;
    margin: calc(10%/6);
}